#portfolio {
    background: var(--color-light);
    padding: 7rem 2rem 7rem 2rem;
    height: 100%;
}

Section > h2, Section > h5 {
    margin: 2.5rem 0 2.5rem 0;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 0 auto;
    
}

.portfolio__item > h3{ 
    padding: 1rem;
    text-align: center;
    background-color: var(--color-white);
    margin: 0 auto;
}

.project__buttons {
    background: var(--color-green);
    padding: 1.3rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    gap: 1.2rem;
    border-bottom: 3px solid var(--color-green-variant); 
}

.portfolio__item-image{
    padding: 2rem;
    background: var(--color-white);
    border: white;
    border-radius: 2rem 2rem 0 0;
    border-color: white;
}

.portfolio__item{
    border-radius: 2rem ;
    transition: var(--transition);
    border: 2px solid transparent;
}

.portfolio__item:hover {
    cursor: pointer;
    border: 2px solid var(--color-green-variant);
    border-radius: 2.2rem;
}


.portfolio__item:hover .project__buttons {
    border-bottom: 1px; 
    border-style: solid;  
    border-bottom: 3px solid var(--color-green-variant); 
    border-color: var(--color-green-variant);
}

.btn {
    background: var(--color-white);
}


/* ================== Media Queries (MEDIUM DEVICES) ================== */
@media screen and (max-width:1200px) {
    #portfolio {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        gap: 1.2rem;
    }
}

/* ================== Media Queries (SMALL DEVICES) ================== */
@media screen and (max-width:680px) {
    #portfolio {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    .portfolio__item {
        padding: 1rem 0 1rem 0;
    }

    section > h2, section > h5 {
        margin: 0;
    }
    
    .portfolio__item{
        border: None;
    }

    .portfolio__item:hover {
        cursor: pointer;
        border: None;
    }

    .project__buttons {
        border: None;
        
    }
    .portfolio__item:hover .project__buttons {
        border: None;
        border-bottom: 2px solid var(--color-green-variant); 
    }

} 