#about {
    padding-top: 5rem;
    height: 100%;
}

.about__container {
    display: grid;
    gap: 15%;
    text-align: center;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.about__card {
    background: var(--color-white);
    border: 2px solid var(--color-text);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: var(--color-light-gray);;
    cursor: pointer;
}


.about__icon {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.8rem;
}

.about__content p {
    text-align: left;
    margin: 3rem 8rem 3rem 8rem;
}

section > h2, section > h5 {
    margin: 2.5rem 0 2.5rem 0;
}


/* ================== Media Queries (MEDIUM DEVICES) ================== */
@media screen and (max-width:1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width:  50%;
        margin: 2rem auto 4rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0 1.5rem 0;
    }
}

/* ================== Media Queries (SMALL DEVICES) ================== */
@media screen and (max-width:600px) {
    .about__me {
        width: 80%;
        margin: 0 auto 1rem;
    }

    .about__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 1rem 1rem 0 1rem;
    }

    .about__card {
        padding: 0.5rem;
    }

    .about__content p {
        margin: 1.5rem 1.5rem 0;
    }

    section > h2, section > h5 {
        margin: 0;
    }
    
} 
