#about {
    height: 100vh;
    display: grid;
    align-items: center;
}

.about__container {
    display: grid;
    text-align: center;
    max-width: 1070px;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.about__card {
    border: 2px solid var(--color-text);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.about__card:hover {
    cursor: default;
}

.about__icon {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card ul {
    padding: 1em;
}

.about__card li {
    color: var(--color-blue-text);
    font-size: 0.8rem;
    white-space: nowrap;
}

.about__content {
    margin: 2rem;
}

.about__content > p {
    margin: 0 1rem 1rem 1rem;
    text-align: left;
}

/* ================== Media Queries (MEDIUM & SMALL DEVICES) ================== */
@media screen and (max-width:1169px) {
    #about {
        height: 100%;
        padding: 3rem 0 6rem 0;
    }
    .about__cards {
        grid-template-columns: 1fr;
    }

    .about__card > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
} 
