@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: inset;
}

:root {
     /* #495057 */
    --color-text: #183153;
    --color-white: #fff;
    --color-pink-white: #FFF1FA;
    --color-blue-text: rgb(20, 110, 190, 1);
    --color-blue-darker:  #538dd7;
    --color-blue-light: #74c0fc;
    --color-yellow:#ffd43b;
    --color-yellow-variant: #fab005;
    --color-green: #63e6be;
    --color-green-variant: #0ca678;
    --color-purple: #b197fc;
    --color-purple-variant: #6741d9;
    --color-white: #fff;    
    --color-dark-gray: #495057;
    --color-medium-gray: rgb(95, 105, 125);
    --color-light-gray: #868e96;
    --color-light: #f0f1f3;

    --transition: all 400ms ease;
    --container-width-lg : 75%;
    --container-width-md : 86%;
    --container-width-ms : 90%
}

html {
    scroll-behavior: smooth;
}

::-webbkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-white);
    color: var(--color-text);
    line-height: 1.7;
    /* background-image: url(../src/assets/bg-texture.png); */
}

/* ================== GENERAL STYLES ================== */
.container {
    width: var( --container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
}

a{
    transition: var(--transition);
    color: #183153;
}

a:hover{
    transition: var(--transition);
    cursor: pointer;
}

.btn-gray {
    width: max-content;
    display: inline-block;
    color: var(--color-text);
    transition: var(--transition);
    padding: 0.75rem 1.2rem;
    border: 2px solid var(--color-text);
    border-radius: 0.4rem;
    cursor: pointer;
}

.btn-gray:hover {
    background: var(--color-light-gray);
}

.btn-primary {
    width: max-content;
    display: inline-block;
    color: var(--color-text);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid var(--color-text);
    transition: var(--transition);
}

.btn-primary:hover {
    background: var(--color-yellow-variant);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ================== Media Queries (MEDIUM DEVICES) ================== */
@media screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    .section {
        margin-top: 6rem;
    }
}

/* ================== Media Queries (SMALL DEVICES) ================== */
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
    .section {
        margin-top: 2rem;
    }
} 