Header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.text-light {
    color: var(--color-blue-light);
    font-weight: bold;
}

.yellow-variant{
    color: var(--color-yellow-variant);
}

.yellow{
    color: var(--color-yellow);
}

.purple-variant{
    color: var(--color-purple-variant);
}

.green{
    color: var(--color-green);
}

.purple-variant{
    color: var(--color-purple-variant);
}

.greeting {
    
}

.Typewriter  {
    color: var(--color-blue-text);
    font-weight: 400;
    white-space: pre;
    height: 80px;
}



/* ================== CTA ================== */
.cta {
    margin-top: 1rem;
    border-radius: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    font-weight: 500;
}

/* ================== HEADER SOCIALS ================== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.header__socials > a:hover{
    background-color: var(--color-white);
    color: var(--color-blue-text);
}


.header__socials::after {
    content: "";
    width: 1.7px;
    height: 2rem;
    background-color: var(--color-text);
}

.me {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ================== HEADER SOCIALS ================== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 4.7rem;
    transform: rotate(90deg);
    font-size: 1.2rem;
    font-weight: 500;
}

.scroll__down:hover {
    color: var(--color-blue-text);
    background: transparent;
}

/* ================== Media Queries (MEDIUM DEVICES) ================== */
@media screen and (max-width:1024px) {
    header {
        height: 100vh;
    }
}

/* ================== Media Queries (SMALL DEVICES) ================== */
@media screen and (max-width:600px) {
    .header__socials,
    .scroll__down {
        display: none;
    }
} 