#contact {
    background: var(--color-text);
    color: var(--color-white) ;
    padding: 7rem 2rem 7rem 2rem;
    margin-top: 0;
    height: 100%;
}

 .contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-dark-gray);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border: 2px solid transparent;
}

.contact__option:hover {
    background: var(--color-light-gray);
    cursor: pointer;
    border: 2px solid var(--color-blue-light);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.9rem;
    color: var(--color-blue-light);
}

.contact__option a:hover {
    background: transparent;
    color: var(--color-text);
}

/* ================== FORM ================== */
form {
    display: flex;
    flex-direction: column;
    gap:1.2rem;   
}

form button {
    margin-left: auto;
    margin-right: 0;
    margin-top: 1rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-blue-light);
    resize: none;
    color: var(--color-white);
}

input::placeholder, textarea::placeholder {
    color: white;
}

/* ================== Media Queries (MEDIUM DEVICES) ================== */
@media screen and (max-width:1024px) {
    .contact__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        
    }

    .contact__options, form {
        margin: 1rem 1rem 0 1rem;
    }

}

/* ================== Media Queries (SMALL DEVICES) ================== */
@media screen and (max-width:600px) {
    .contact__container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }

    form button {
        margin: 0 auto;
    }
    
} 