#projects {
    background: var(--color-medium-gray);
    height: 100vh;
    display: grid;
    align-items: center;
}

.projects__container {
    display: grid;
    text-align: center;
    max-width: 1280px;
}

.projects__container ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.projects__item > h3{ 
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    background-color: var(--color-white);
    margin: 0 auto;
}

.projects__item-image{
    padding: 2rem;
    background: var(--color-white);
    border: white;
    border-radius: 2rem 2rem 0 0;
}

.project__buttons {
    background: var(--color-green);
    border-radius: 0 0 2rem 2rem;
    border-bottom: 3px solid var(--color-green-variant); 
    padding: 1.4rem 0;
    display: flex;
    justify-content: center;
}

.project__buttons > a {
    background: var(--color-white);
    margin: 0 0.2rem;
    white-space: nowrap;
}

/* ================== Media Queries ( DEVICES) ================== */
@media screen and (max-width:1279px) {
    #projects {
        height: 100%;
        padding: 3rem 0 6rem 0;
    }

    .projects__container ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* ================== Media Queries (SMALL & MEDIUM DEVICES) ================== */
@media screen and (max-width:769px) {
    .projects__container ul {
        grid-template-columns: 1fr;
        margin: 2rem 2rem;
    }
} 